name: Compile on Android

on:
  push:
    branches: [ main ]
    paths-ignore:
      - ".gitignore"
      - "README.md"
      # ignore CI for other platforms
      - ".github/workflows/api.yml"
      - ".github/workflows/ios.yml"
      - ".github/workflows/linux.yml"
      - ".github/workflows/macos.yml"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout enrouteOGN
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Set up Android SDK & NDK
      uses: android-actions/setup-android@v2
    - name: Show NDK location
      run: |
        echo "ANDROID_SDK_ROOT = $ANDROID_SDK_ROOT"
        echo "ANDROID_NDK_ROOT = $ANDROID_NDK_ROOT"
        ls -l "$ANDROID_NDK_ROOT"
    - name: Compile
      run: |
        cmake \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_ROOT/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DCMAKE_BUILD_TYPE=Release
        cmake --build .
