name: Compile on iOS

on:
  push:
    branches: [ main ]
    paths-ignore:
      - ".gitignore"
      - "README.md"
      # ignore CI for other platforms
      - ".github/workflows/android.yml"
      - ".github/workflows/api.yml"
      - ".github/workflows/linux.yml"
      - ".github/workflows/macos.yml"
  workflow_dispatch:

jobs:
  build:

    runs-on: macos-latest
    
    steps:
    - name: Checkout enrouteOGN
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Compile
      run: |
        cmake \
          -S . \
          -G Xcode \
          -DCMAKE_SYSTEM_NAME=iOS \
          -DCMAKE_OSX_ARCHITECTURES=arm64 \
          -DCMAKE_OSX_DEPLOYMENT_TARGET=13.0 \
          -DCMAKE_OSX_SYSROOT=iphoneos \
          -DCMAKE_BUILD_TYPE=Release
        cmake --build .
